html {
    background: #5CDB95;
}

.calc_section {
    margin-left: 40%;
    margin-top: 100px;
    width: 366px;
    background: #05386B;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#add,#sub,#mul,#div,#resolve {
    background: #669683;
}

#numValue {
    width: 366px;
    height: 80px;
    text-align: right;
    font-size: 28px;
    background: #05386B;
    border: 0;
    color: white;
}

.calcButton {
    margin: 1px;
    width: 120px;
    height: 60px;
    border: 0;
    background: #EDF5E1;
    font-size: 21px;
}

.calcButton:hover {
    background: #379683;
    color: white;
    font-weight: bolder;
}


.calcButton::-moz-focus-inner {
    border: 0;
}