html {
    background: #EEE2DC;
}

.calc_section {
    margin-left: 40%;
    margin-top: 100px;
    width: 400px;
    padding: 20px 5px;
    background: #BAB2B5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#add,#sub,#mul,#div,#resolve {
    background: #669683;
}

#numValue {
    width: 366px;
    height: 80px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: right;
    font-size: 28px;
    background: #123C69;
    border: 0;
    color: white;
}

.numButton,.operButton {
    margin: 8px;
    width: 80px;
    height: 70px;
    border: 0;
    background: #EDF5E1;
    font-size: 21px;
    border-radius: 6px;
}

.numButton:hover,.operButton:hover {
    background: #379683;
    color: white;
    font-weight: bolder;
}


input::-moz-focus-inner {
    border: 0;
}

#resolve {
    width: 175px; 
}

#dummy {
    background: #AC3B61;
}